/* #7607d8 */
.loading-spinner {
    width: 100%;
    height: 100%;
    margin: 22% 0px;
}
.header-letters {
    color: white;
}
.header-style {
    background-color: black !important;
}
.footer-style {
    background-color: white !important;
    /* border: 2px solid red; */
    margin-top: 200px;
}
.login-form {
    width: 40%;
    padding: 20px;
    margin: auto;
    margin-top: 100px;
    /* background-color: #d4bcec; */
}
.personalized-button {
    background-color: #7607d8 !important;
    border-color: #7607d8 !important;
}
.personalized-button:hover {
    background-color: #984dda !important;
    border-color: #984dda !important;
}
.personalized-button:disabled {
    background-color: #984dda !important;
    border-color: #984dda !important;
}
.img-carrousel-ofertas {
    background-image: url("../utils/images/banner_ofertas.png");
    background-size: cover;
    width: 600px;
    height: 300px;
}
.img-carrousel-combos {
    background-image: url("../utils/images/banner_combos.png");
    background-position: center;
    background-size: cover;
    width: 600px;
    height: 300px;
}
.carrousel-item {
    overflow: hidden;
}
.carrousel-item:hover {
    filter: brightness(80%) contrast(95%);
}
.categories-col {
    height: 250px;
    margin: 22px 10px;
    overflow: hidden;
}
.categories-col:hover {
    height: 200px;
    filter: brightness(80%) contrast(95%);
}
.categories-vinos {
    background-image: url("../utils/images/categorias_vinos.jpg");
    background-position: center;
    background-size: cover;
    height: 250px;
}
.categories-cervezas {
    background-image: url("../utils/images/categorias_cervezas.jpg");
    background-position: center;
    background-size: cover;
    height: 250px;
}
.categories-espumantes {
    background-image: url("../utils/images/categorias_espumantes.jpg");
    background-position: center;
    background-size: cover;
    height: 250px;
}
.categories-vodka {
    background-image: url("../utils/images/categorias_vodka.jpg");
    background-position: center;
    background-size: cover;
    height: 250px;
}
.categories-whiskys {
    background-image: url("../utils/images/categorias_vinos.jpg");
    background-position: center;
    background-size: cover;
    height: 250px;
}
.categories-sin-alcohol {
    background-image: url("../utils/images/categorias_espumantes.jpg");
    background-position: center;
    background-size: cover;
    height: 250px;
}
.categories-name {    
    position: absolute;
    right: 15%;
    bottom: 20px;
    left: 15%;
    z-index: 10;
    padding-bottom: 7px;
    color: #fff;
    text-align: center;
    background-color: blueviolet;
}